<!-- index for all listings created -->

<div class= "container-fluid" >
	<header>
		<h2>Listing Index</h2>
	</header>

	<body>
		<%= link_to '[New List]', new_listing_path %>
		
		<div class="pagination">
			<%= will_paginate @listing %>
		</div>

		<div class="container-fluid">
			<div class="jumbotron">
				<table>
					<tr>
						<th>Title</th>
						<th></th>
					</tr>

					<% @listing.each do |list| %>
						<tr>
							<td><%= list.product_title %></td>
							<td><%= list.image %></td>
							<td><%= link_to '[show]', listing_path(list.id) %></td>
							<td><%= link_to '[edit]', edit_listing_path(list.id) %></td>
							<td><%= link_to '[delete]', listing_path(list.id), method: :delete, data: { confirm: 'Are you sure?'}  %></td>
						</tr>
					<%end%>
				</table>
			</div>
		</div>
	</body>
</div>