

	<!-- field to upload image file -->
	<div class="text-field">
		<%= f.label :avatar  %>
		<%= f.file_field :avatar  %>
	</div>
	
	<div class="text-field">
	  <%= f.label :email %>
	  <%= f.text_field :email, type: 'email' %>
	</div>

	<div class="text-field">
	  <%= f.label :first_name %>
	  <%= f.text_field :first_name, type: 'string' %>
	</div>

	<div class="password-field">
	  <%= f.label :password %>
	  <%= f.password_field :password %>
	</div>
